.signin-page, .signup-page {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.sign-in-container, .sign-up-container {
  height: 450px;
  width: 350px;
  display: flex;
  margin-top: 2rem;
  background-color: rgb(0,50,80);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:rgb(216, 216, 216);
  box-shadow: 
    1px 1px 0 1px rgb(216, 216, 216),
    2px 2px 0 2px rgb(0,50,80),
    3px 3px 0 3px rgb(216, 216, 216), 
    4px 4px 0 4px rgb(0,50,80),
    5px 5px 0 5px rgb(216, 216, 216),
    6px 6px 0 6px rgb(0,50,80),
    7px 7px 0 7px rgb(216, 216, 216),
    8px 8px 0 8px rgb(0,50,80),
    9px 9px 0 9px rgb(216, 216, 216),
    0px 0px 0 1px rgb(216, 216, 216),
    10px 10px 10px 6px rgba(0, 0, 0, 0.199),
    11px 11px 8px 7px rgba(0, 0, 0, 0.106),
    12px 12px 8px 12px rgba(0, 0, 0, 0.29);
}

.signin-headline-background { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  left: -300px;
  height: 155px;
  color:rgb(0,50,80);
  background-color:rgb(216, 216, 216);
  border-radius: 100px;
  width: 370px;
}

.signin-headline {
  width: 300px;
  word-break: break-word;
  font-weight: 1000;
}

.signin-title, .signup-title {
  margin-bottom: 3rem;
}

.sign-in-form, .sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 250px;
}

.signup-input, .signin-input {
  border: none;
  padding: .6rem;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  margin-bottom: .7rem;
}

.signup-form label, label { 
  display: flex;
  justify-content: flex-end
}

