.sign-in-container, .sign-up-container {
  height: calc(80vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-in-form, .sign-up-form {
  display: flex;
  flex-direction: column;
}