.signin-page, .signup-page {
  height: calc(100vh - 3.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 2rem;
}

.sign-in-container, .sign-up-container {
  max-height: 34.5rem;
  width: 25rem;
  text-align: center;
  display: flex;
  background-color: #10273f;
  border-radius: 10px;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color:rgb(236, 236, 236);
  box-shadow: 
    0px 0px 0 1px #1d4774,
    2px 2px 2px rgba(0, 0, 0, 0.555),
    3px 3px 3px 3px rgba(0, 0, 0, 0.233),
    4px 4px 4px 4px rgba(0, 0, 0, 0.199),
    5px 5px 5px 4px rgba(0, 0, 0, 0.11);
    animation: move-in .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    overflow: visible;
    margin-bottom: 2rem;
}

@keyframes move-in {
  from { 
    margin-left: -100px;
    opacity: 0;
  } to { 
    opacity: 1;
    margin-left: 0;
  }
}

.signin-headline-background { 
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  height: 5.8rem;
  color:rgb(238, 238, 238);
  border-top: 1px solid #1d4774;
  border-bottom: 1px solid #1d4774;
  font-size: .8rem;
  width: 20rem;
}

.signin-headline-background::after {
  content: '';
  position: absolute;
  left: -14px;
  top: .1rem;
  font-size: .8rem;
  border-top: 1px solid #1d4774;
  border-bottom: 1px solid #1d4774;
  width: 21.5rem;
  height: 6rem;
  transform: skewY(3deg);
}

.signin-headline {
  width: 19.8rem;
  word-break: break-word;
  font-weight: 1000;
}

.signin-title {
  margin-bottom: 1.5rem;
}

.signup-title {
  margin-top: 5rem;
}

.sign-in-form, .sign-up-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  min-height: 15rem;
}

.signin-link-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.signup-input, .signin-input {
  border: none;
  padding: .6rem;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  width: 18.3rem;
  margin-top: .2rem;
}

.signup-form label, label { 
  display: flex;
  justify-content: flex-end;
  margin: .5rem 0;
}

.signup-link, .signin-link { 
  color: #fdfd96;
  font-size: .7rem;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.signup-link::after, .signin-link::before {
  content: '';
  position: absolute;
  bottom: -0.235rem;
  left: 0;
  background-color: #fdfd96;
  width: 100%;
  height: 1px;
}

.signin-bar, .signup-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.3rem;
}

.signout-mesgs {
  height: 50px;
  margin-bottom: 1rem;
}

.auth-mesgs {
  color: red;
  height: 50px;
  margin-bottom: 1rem;
}
