.footer-container {
  height: 3.1rem;
  width: 100%;
  background-color: #ffffff4f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-elements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: .750rem;
  font-weight: 400;
}