.tasks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  min-width: 445px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(216, 216, 216);
  color: black;
  margin: .8rem 0;
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 1px 1px 4px 0 rgba(0, 0, 0, 0.205);
  border: 1px solid #1d4774;
  animation: flip .2s ease-in-out 1;
}

.fade-out-task {
  animation: fadeout .3s linear forwards;
  min-width: 445px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(216, 216, 216);
  color: black;
  margin: .8rem 0;
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 1px 1px 4px 0 rgba(0, 0, 0, 0.205);
  border: 1px solid #1d4774;
}



.edit-task-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 445px;
  margin: .8rem 0;
  height: 50px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 1px 1px 4px 0 rgba(0, 0, 0, 0.205);
  padding: 1.6rem 3rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgb(216, 216, 216);
  visibility: hidden;
  animation: flip .2s ease-in-out 1;
  border: 1px solid #1d4774;
  position: relative;
}

@keyframes flip {
  100% {
    transform: rotateX(360deg);
    backface-visibility: hidden;
  }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.edit-task-input {
  padding: 1rem;
  border: none;
  width: 220px;
  height: 37px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.425), 1px 1px 3px 0 rgba(0, 0, 0, 0.205);
}

.task-buttons {
  display: flex;
  width: 5rem;
  align-items: center;
  justify-content: space-between;
}
