.tasks-page {
  height: 100%;
}

.tasks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.task {
  min-width: 29rem;
  background-color: #10273f;
  color: rgb(236, 236, 236);
  margin: .2rem 0;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 1px 1px 4px 0 rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid #14467c;
  border-top: 1px solid #14467c;
  animation: flip .2s ease-in-out 1;
  line-break: break-all;
}

.task-text {
  display: flex;
  justify-content: flex-start;
  max-width: 14rem;
  overflow: hidden;
}

.fade-out-task {
  animation: fadeout .2s linear forwards;
  min-width: 29rem;
  background-color: #10273f;
  color: rgb(236, 236, 236);
  margin: .2rem 0;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 1px 1px 4px 0 rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid #14467c;
  border-top: 1px solid #14467c;
}

.edit-task-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 29rem;
  margin: .2rem 0;
  height: 3.1rem;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 1px 1px 4px 0 rgba(0, 0, 0, 0.205);
  padding: 1.6rem 0;
  background-color: #10273f;
  visibility: hidden;
  animation: flip .2s ease-in-out 1;
  transform-style: preserve-3d;
  border-bottom: 1px solid #14467c;
  border-top: 1px solid #14467c;
  position: relative;
}

@keyframes flip {
  from {
    opacity: 0;
    margin-left: -4rem;
    backface-visibility: hidden;
  } to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.edit-task-input {
  padding: 1rem;
  border: none;
  width: 13.5rem;
  height: 2.1rem;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.425), 1px 1px 3px 0 rgba(0, 0, 0, 0.205);
}

.task-buttons {
  display: flex;
  width: 9rem;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  
}
