* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color:rgb(236, 236, 236);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-task-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 2rem 0 1rem 0;
  z-index: 160;
  border-radius: 10px;
  height: 8.5rem;
  width: 29rem;
  background-color: #10273f;
  border: 1px solid #1d4774;
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid #1d4774;
  padding-bottom: 1.2rem;
}

.task-form-input {
  padding: 1rem;
  border: none;
  width: 18.5rem;
  height: 2.2rem;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.425), 1px 1px 3px 0 rgba(0, 0, 0, 0.205);
}

.add-task-form-btn, .task-btn {
  margin: 0 1rem;
  color: rgb(236, 236, 236);
}

.tasks-completed-container {
  width: 76%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}


.tasks-completed::after {
  content: '✔';
  color: yellow;
  margin-left: .1rem;
}

.tick {
  width: 1.5rem;
  height: 1.5rem;
  padding: .2rem;
  margin: .2rem;
}

.tick-container { 
  display: flex;
  width: 2.5rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
}