* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color:rgb(216, 216, 216);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-task-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 2rem 0 1rem 0;
  z-index: 160;
  border-radius: 10px;
  height: 135px;
  width: 445px;
  background-color: #10273f;
  border: 1px solid #1d4774;
}

/* .add-task-container::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 4px;
  border-radius: .5rem;
  z-index: -1;
  transform: rotate(10deg);
  width: 235px;
  height: 80px;
  background-color: #10273f;
  border-bottom: 1px solid #1d4774;
  
}

.add-task-container::before {
  content: "";
  position: absolute;
  bottom: -21px;
  right: 4px;
  border-radius: 10px;
  z-index: -1;
  transform: rotate(-10deg);
  width: 230px;
  height: 80px;
  background-color: #10273f;
  border-bottom: 1px solid #1d4774;
} */

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  margin-top: 1.5rem;
  border-bottom: 1px solid #1d4774;
  padding-bottom: 1.2rem;
}

.task-form-input {
  padding: 1rem;
  border: none;
  width: 220px;
  height: 37px;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.425), 1px 1px 3px 0 rgba(0, 0, 0, 0.205);
}

.add-task-form-btn, .task-btn {
  margin: 0 1rem;
  color: rgb(216, 216, 216);
}

.tasks-completed {
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.star {
  width: 25px;
  height: 25px;
  padding: .2rem;
  margin: .2rem;
}

.star-container { 
  display: flex;
  width: 40px;
  height: 30px;
  align-items: center;
  justify-content: center;
}