* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-task-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 65px;
  width: 400px;
  background-color: rgb(41, 145, 122);
  border-radius: 50px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.425), 2px 2px 5px 0 rgba(0, 0, 0, 0.205);
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-form-input {
  padding: 1rem;
  border: none;
  width: 220px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.425), 1px 1px 3px 0 rgba(0, 0, 0, 0.205);
}

.add-task-form-btn, .task-btn {
  height: 40px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 55px;
  background-color:rgb(0, 252, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}