nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
  width: 100%;
  background-color: #10273f;
  border-bottom: 1px solid #1d4774;
  
}

.nav-rightside { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 11.2rem;
  padding: 0 1rem;
  border-left: 2px solid #1d4774;
}

.nav-logo { 
  margin-left: 1.2rem;
  color: rgb(216, 216, 216);
}

.username {
  margin-right: .5rem;
}