nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(0,50,80);
  
}

.nav-rightside { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 180px;
  padding: 1rem;
  border-left: 3px solid #0A1929;
}

.nav-logo { 
  margin-left: 1.2rem;
  color: rgb(216, 216, 216);
}

.username {
  margin-right: .5rem;
}